body {
  background-color: #eee;
  font-family : helvetica neue;
}

.viewport {
  background-color: #fff;
  position: relative;
  cursor: ew-resize;
  overflow: hidden;
  height: 500px;
  outline: 1px solid #aaa;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-title {
  font-size: 1em;
  font-weight: 100;
  color: #666;
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  letter-spacing: 0.4em
}

.viewport .data {
  font-family : monospace;
  color: #ddd;
  position: absolute;
  top: 18px;
  right: 18px;
}

.viewport .grid {
  position: absolute;
  height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  font-size: 0.6em;
  text-transform: uppercase;

}

.viewport .grid-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  border-left: 1px dashed #E9E9E9;
  padding: 4px;
}

.timeline {
    width : 100%;
    height : 10px;
    position : relative;
    box-sizing : border-box;
    background-color : #eee;
    position : absolute;
    bottom : 30px;
}

.date_ui {
    width: 7em;
    height: 7em;
    border: 1px solid #F00;
    color: #000;
    text-align: center;
    font-family: helvetica neue;
    border-radius: 4px;
    font-size: 10px;
    margin: 2px;
}

.date_month {
  background: red;
  padding: 3px;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
}

.date_day {
  font-size: 3.8em;
  font-weight: bold;
  line-height: 1em;
}

.date_year {
  font-size: .9em;
}

.milestone {
  position: absolute;
  background-color: #eee;
  border-radius: 5px;
  width: 4px;
  top: 0;
  bottom: 0;
  margin-left: -2px;
}

.milestone-label {
  position : absolute;
  top : 100%;
  font-family : monospace;
}

.milestone-info {
    position : absolute;
    top : 0;
    left : 0;
    background-color : #fff;
    width : 100px;
    height: 41px;
    border: 1px solid #F00;
    border-left: 4px solid #F00;
    box-sizing: border-box;
}

.milestone-info-title {
  font-weight: bold;
  font-size: .8em;
  position: relative;
  top: 7px;
  left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.milestone-info-date {
  font-weight: light;
  color: #888;
  text-transform: uppercase;
  font-size: .5em;
  position: relative;
  top: 6px;
  left: 4px
}